<% include ./partials/header %>
		<link rel="stylesheet" href="../stylesheets/index.css">
	</head>
<body>

<% if(savedTracks.body.items.length >= 50) { %>	
	<!-- <div class="jumbotron mb-0">
		<div class="container">
			<h1 class="display-4 text-dark font-weight-bold text-center">Which song is currently more popular?</h1>
		</div>
	</div> -->

<div class="header">
	<nav class="navbar navbar-expand-lg">
	  <div class="container">
		  <div class="d-none d-md-block">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item">
					  <a href="https://github.com/JapmanN" class="text-white mr-3" target="_blank"><i class="fab fa-github nav-icons"></i></a>
					  <a href="https://www.linkedin.com/in/japman-nagra-464b7116a/" class="text-white" target="_blank"><i class="fab fa-linkedin nav-icons"></i></a>
				  </li>
			  </ul>
		  </div>

		  <span class="navbar-brand mx-auto text-light nav-text">
			  Logged in as <span href="#" class="text-white font-weight-bold"><%= user.body.display_name %></span>
		  </span>

		  <div class="d-none d-md-block">
			  <ul class="navbar-nav ml-auto">
				  <li class="nav-item">
					  <a class="nav-link text-white" href="https://accounts.spotify.com/en/status" id="logout">Logout</a>
				  </li>
			  </ul>
		  </div>
		</div>
	</nav>

	

	<div class="jumbotron">
		<div class="container mt-2">
			<div id="showScoreHtml" class="text-center d-none">
				<h1 class="option" id="H1Score">Current Score: <span id="scoreWhileUserIsPlaying" class="text-white"><%= %></span></h1>
				<button onclick="location.reload();" id="playAgain" class="btn btn-dark btn-lg rounded-lg d-none mt-2"><i class="fa fa-redo-alt mr-2"></i>   Try Again</button>
			</div>
			<div id="welcome" class="d-none">
				<h1 class="display-3">
					<span id="title">Populify</span>
				</h1>
				<h4>Click the arrow under the song that you think is currently more popular</h4>
				<a class="btn btn-dark mt-2 btn-lg rounded-lg" href="/more-info" role="button">More Information</a>
			</div>
		</div>
	</div>	
</div>

<div class="container" id="theBody">
	<div class="row">
		<div class="col-lg-6 col-md-6 text-center">
			<center>
				<% for (var i = Math.floor(Math.random() *  savedTracks.body.items.length), j = 0; j < 1; j++) { %>
				<div class="card bg-none border-0">	
					<img src="<%= savedTracks.body.items[i].track.album.images[0].url %>" class="card-img-top">
					<div class="card-body">
						<h1 class="card-title option choice_one"><%= savedTracks.body.items[i].track.name %></h1>
						<button class="btn btn-orange btn-block rounded-pill choice_one_btn"><i class="fas fa-caret-up fa-3x text-orange"></i></button>
					</div>
				</div>
				<% } %>
			</center>
		</div>
		
		<div class="col-lg-6 col-md-6">
			<center>
				<% for (var k = Math.floor(Math.random() *  savedTracks.body.items.length), m = 0; m < 1; m++) { %>
				<div class="card bg-none border-0">
					<img src="<%= savedTracks.body.items[k].track.album.images[0].url %>" class="card-img-top">
					<div class="card-body">
						<h1 class="card-title option choice_two"><%= savedTracks.body.items[k].track.name %></h1>
						<button class="btn btn-orange btn-block rounded-pill choice_two_btn"><i class="fas fa-caret-up fa-3x text-orange"></i></button>
					</div>
				</div>
				<% } %>
			</center>
		</div>
	</div>
</div>

<script>
	var score = localStorage.getItem("theScore");
		
	if (score == null || score == 0) {
		score = 0;
		localStorage.setItem("theScore", score);
		$("div#welcome").removeClass("d-none");
	} else {
		$("div#showScoreHtml").removeClass("d-none");
		$("span#scoreWhileUserIsPlaying").html(score);
	}
	
	$("button.choice_two_btn").on("click", function() {
		var first_song = <%= savedTracks.body.items[i].track.popularity %>;
		var second_song = <%= savedTracks.body.items[k].track.popularity %>;
		if(second_song > first_song) {
			ifUserGuessesRight();
		} else if(second_song == first_song) {
			ifSamePopularity();
		} else {
			ifUserGuessesWrong();
		}
	});

	$("button.choice_one_btn").on("click", function() {
		var first_song = <%= savedTracks.body.items[i].track.popularity %>;
		var second_song = <%= savedTracks.body.items[k].track.popularity %>;
		if(first_song > second_song) {
			ifUserGuessesRight();
		} else if(second_song == first_song) {
			ifSamePopularity();
		} else {
			ifUserGuessesWrong();
		}
	});
	
	function ifUserGuessesRight() {
		// Update Score
		score++;
		localStorage.setItem("theScore", score);
		
		// Show CORRECT modal
		$('#correctModal').modal('show');

		// Hide the CORRECT modal after 1 second
		setTimeout(function() {
			$('#correctModal').modal('hide');
		}, 1000);
		
		// Start refreshing the page after 800 milliseconds
		setTimeout(function() {
			location.reload();
		}, 800);
	}
	
	function ifSamePopularity() {
		// Update Score
		score++;
		localStorage.setItem("theScore", score);
		
		// Show EQUAL modal
		$('#equalModal').modal('show');

		// Hide the EQUAL modal after 1 second
		setTimeout(function() {
			$('#equalModal').modal('hide');
		}, 1500);
		
		// Start refreshing the page after 800 milliseconds
		setTimeout(function() {
			location.reload();
		}, 1250);
	}
	
	function ifUserGuessesWrong() {
		// Show the button to play again and show the FINAL SCORE
		$("button#playAgain").removeClass("d-none");
		$("h1#H1Score").html("Your Final Score is <span id='scoreWhileUserIsPlaying'>" +  score + "</span");
		
		// Set the SCORE back to 0 and store it
		score = 0;
		localStorage.setItem("theScore", score);
		
		// Show WRONG modal
		$('#wrongModal').modal('show');
		
		setTimeout(function() {
			$('#wrongModal').modal('hide');
			$("#theBody").addClass("d-none");
		}, 1000);
	}
</script>


<!-- Modal if user guesses CORRECT -->
<div class="modal fade" id="correctModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background: none; border: none;">
      <div class="modal-body text-center">
        <i class="bg-success rounded-circle p-5 fas fa-check fa-10x"></i>
      </div>
    </div>
  </div>
</div>

<!-- Modal if popularity is EQUAL -->
<div class="modal fade" id="equalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background: none; border: none;">
      <div class="modal-body text-center">
        <i class="bg-warning rounded-circle p-5 fas fa-equals fa-10x" style="padding: 3rem 60px !important;"></i>
		  <h1 class="font-weight-bold">Same Popularity. <br> <span class="text-success">Free Point!</span></h1>
      </div>
    </div>
  </div>
</div>

<!-- Modal if user guesses WRONG -->
<div class="modal fade" id="wrongModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background: none; border: none;">
      <div class="modal-body text-center">
        <i class="bg-danger rounded-circle p-5 fas fa-times fa-10x" style="padding: 3rem 75px !important;"></i>
      </div>
    </div>
  </div>
</div>

<% } else { %>
	<div class="header">
		<h1 class="text-center font-weight-bold">You need to have atleast 50 songs.</h1>
	</div>
<% } %>
	
<% include ./partials/footer %>

<!-- savedTracks.body.items[i].track.name -->
<!-- savedTracks.body.items.length  -->
<!-- songs.songs_arr[Math.floor(Math.random() * 51)] -->